.div-expo-background {
    background-color: #FFF0E6;
    width: 526px;
    height: 40px;
    position: absolute;
    top: 192px;
    display: flex;
  }

  .logo-expo {
    width: 76px;
    height: 40px;
  }

  .label-free-shipping {
    color: #FF6600;
    font-family: Roboto;
    font-size: 14px;
    line-height: 16px;
    text-align: left;
    position: absolute;
    top: 12px;
    left: 100px;
  }

  .label-on-time-delivery {
    color: #FF6600;
    font-family: Roboto;
    font-size: 14px;
    line-height: 16px;
    text-align: left;
    position: absolute;
    top: 12px;
    left: 291px;
  }

  .image-expo {
    width: 8px;
    height: 14px;
    position:absolute;
    top: 12px;
    left: 502px;
  }

    /* switch to mobile viewport */
    @media screen  and (max-width: 500px) { 
      .div-expo-background {
        background-color: #FFF0E6;
        width: 336pt;
        height: 40pt;
        top: 216pt;
        left: 12pt;
        display: flex;
      }
    
      .logo-expo {
        width: 76pt;
        height: 40pt;
        left: 0pt;
        top: 0pt;
      }
    
      .label-free-shipping {
        color: #FF6600;
        font-family: Roboto;
        font-size: 14pt;
        line-height: 16pt;
        text-align: left;
        top: 12pt;
        left: 100pt;
      }
    
      .label-on-time-delivery {
        opacity: 0;
      }
    
      .image-expo {
        width: 8pt;
        height: 14pt;
        top: 13pt;
        left: 312pt;
      }    
    }