.div-ratings-box {
    width: 242px;
    height: 16px;
    position:absolute;
    top: 88px;
    display: flex;
  }

  .div-stars-box {
    width: 86px;
    height: 14px;
    background-color: #FFF0E6;
    position:absolute;
    top: 1px;
    display: flex;

  }

  .image-ratings-box{
    width: 14px;
    height: 14px;
    margin-right: 4px;
  }

  .label-rating {
    color: #FF6600;
    font-family: Roboto;
    font-size: 12px;
    line-height: 16px;
    text-align: left;
    position: absolute;
    left: 90px;
    width: 17px;
    height: 16px;
  }

  .label-reviews {
    color: #999999;
    font-family: Roboto;
    font-size: 12px;
    line-height: 16px;
    text-align: left;
    position:absolute;
    left: 111px;
    width: 54px;
    height: 16px;
  }

  .label-buyers {
    color: #333333;
    font-family: Roboto;
    font-size: 12px;
    line-height: 16px;
    text-align: left;
    position:absolute;
    left: 189px;
    width: 54px;
    height: 16px;
  }

  /* switch to mobile viewport */
  @media screen  and (max-width: 500px) { 
  .div-ratings-box {
    width: 242pt;
    height: 16pt;
    top: 112pt;
    left: 12pt;
    display: flex;
  }
  
  .div-stars-box {
    width: 86pt;
    height: 14pt;
    background-color: #FFF0E6;
    top: 1pt;
    left: 0pt;
    display: flex;
  }

  .image-ratings-box{
    width: 14pt;
    height: 14pt;
    margin-right: 4pt;
  }

  .label-rating {
    color: #FF6600;
    font-family: Roboto;
    font-size: 12pt;
    line-height: 16pt;
    text-align: left;
    left: 90pt;
    width: 17pt;
    height: 16pt;
  }

  .label-reviews {
    color: #999999;
    font-family: Roboto;
    font-size: 12pt;
    line-height: 16pt;
    text-align: left;
    left: 111pt;
    width: 54pt;
    height: 16pt;
  }

  .label-buyers {
    color: #333333;
    font-family: Roboto;
    font-size: 12pt;
    line-height: 16pt;
    text-align: left;
    left: 189pt;
    width: 53pt;
    height: 16pt;
  }    
}