.div-countdown-timer {
    width: 328px;
    height: 24px;
    position: absolute;
    top: 256px;
    display: flex;
}

.label-discount {
  color: #FF6600;
  font-family: Roboto;
  font-size: 14px;
  line-height: 16px;
  text-align: left;
  position: absolute;
  top: 4px;
}

.label-discount-end {
  color: #999999;
  font-family: Roboto;
  font-size: 14px;
  line-height: 16px;
  text-align: left;
  position: absolute;
  top: 4px;
  left: 59px;
}

.icon-discount-end {
  width: 16px;
  height: 16px;
  position: absolute;
  top: 4px;
  left: 187px;
}

.label-date-time {
  color: #999999;
  font-family: Roboto;
  font-size: 16px;
  line-height: 24px;
  text-align: left;
  width: 113px;
  height: 24px;
  position: absolute;
  left: 215px;
}

/* switch to mobile viewport */
@media screen  and (max-width: 500px) { 
  .div-countdown-timer {
    width: 328pt;
    height: 24pt;
    top: 280pt;
    left: 12pt;
    display: flex;
}

.label-discount {
  color: #FF6600;
  font-family: Roboto;
  font-size: 14pt;
  line-height: 16pt;
  text-align: left;
  top: 4pt;
  left: 0pt;
}

.label-discount-end {
  color: #999999;
  font-family: Roboto;
  font-size: 14pt;
  line-height: 16pt;
  text-align: left;
  top: 4pt;
  left: 59pt;
}

.icon-discount-end {
  width: 16pt;
  height: 16pt;
  top: 4pt;
  left: 187pt;
}

.label-date-time {
  color: #999999;
  font-family: Roboto;
  font-size: 16pt;
  line-height: 24pt;
  text-align: left;
  width: 113pt;
  height: 24pt;
  left: 215pt;
  top: 0pt;
}
}