.div-product {
    width: 526px;
    height: 144px;
    position: absolute;
    top: 304px;
  }

  .div-product-row-1 {
    width: 526px;
    height: 40px;
    position: absolute;
    display: flex;
  }

  .div-product-row-2 {
    width: 526px;
    height: 40px;
    margin-top: 52px;
    position: absolute;
    display: flex;
  }

  .div-product-row-3 {
    width: 526px;
    height: 40px;
    margin-top: 104px;
    position: absolute;
    display: flex;
  }

  .label-product-attribute {
    color: #999999;
    font-family: Roboto;
    font-size: 14px;
    line-height: 16px;
    width: 112px;
    text-align: left;
    position: absolute;
    top: 12px;
  }

  .label-product-option-name {
    color: #333333;
    font-family: Roboto;
    font-size: 14px;
    line-height: 16px;
    width: 174px;
    text-align: left;
    position: absolute;
    top: 12px;
    left: 112px;
  }

  .label-product-option-price {
    color: #333333;
    font-family: Roboto;
    font-size: 14px;
    line-height: 16px;
    text-align: left;
    position: absolute;
    top: 12px;
    left: 286px;
  }

  .div-product-quantinity {
      width: 160px;
      height: 40px;
      position: absolute;
      left: 366px;
      display: flex;
  }

/* switch to mobile viewport */
@media screen  and (max-width: 500px) { 
  .div-product {
    width: 360pt;
    height: 144pt;
    top: 328pt;
    left: 0pt;
  }

  .div-product-row-1 {
    width: 336pt;
    height: 40pt;
    display: flex;
    top: 0pt;
    left: 12pt
  }

  .div-product-row-2 {
    width: 336pt;
    height: 40pt;
    margin-top: 52pt;
    display: flex;
    top: 0pt;
    left: 12pt
  }

  .div-product-row-3 {
    width: 336pt;
    height: 40pt;
    margin-top: 104pt;
    display: flex;
    top: 0pt;
    left: 12pt
  }

  .label-product-attribute {
    opacity: 0;
  }

  .label-product-option-name {
    color: #333333;
    font-family: Roboto;
    font-size: 14pt;
    line-height: 16pt;
    width: 148pt;
    text-align: left;
    top: 12pt;
    left: 0pt;
  }

  .label-product-option-price {
    color: #333333;
    font-family: Roboto;
    font-size: 14pt;
    line-height: 16pt;
    text-align: left;
    top: 12pt;
    left: 148pt;
  }

  .div-product-quantinity {
      width: 120pt;
      height: 40pt;
      left: 216pt;
      top: 0pt;
      display: flex;
  }
}