.div-main {
    width: 1440px;
    height: 1024px;
    /* background-color: blue; */
}

.image {
    width: 416px;
    height: 416px;
    position:absolute;
    top: 48px;
    left:72px;
  }

  .div-background {
    background-color: #EDF0F3;
    border-radius: 8px;
    width: 1440px;
    height: 332px;
    position:absolute;
    top: 692px;
    left:0px; 
  }

  @media screen  and (max-width: 500px) { 
    .div-main {
      width: 360pt;
      height: 1386pt;
      /* background-color: aqua; */
    }

    .image {
      width: 360pt;
      height: 360pt;
      top: 0pt;
      left: 0pt;
    }

    .div-background {
      top: 0pt;
      width:0pt;
      height: 0pt;
    }
  
    
  }

 




/* width: ;
height: ;
position: absolute;
left: ;
top: ; */