.div-main {
    width: 1440px;
    height: 1024px;
}

.image {
    width: 416px;
    height: 416px;
    position:absolute;
    top: 48px;
    left:72px;
  }

  .div-background {
    background-color: #EDF0F3;
    border-radius: 8px;
    width: 1440px;
    height: 332px;
    position:absolute;
    top: 692px;
    left:0px; 
  }

 

 




/* width: ;
height: ;
position: absolute;
left: ;
top: ; */