.div-info-box {
    width: 526px;
    height: 544px;
    /* background-color: #114273; */
    position:absolute;
    top: 48px;
    left:512px; 
  }

  @media screen  and (max-width: 375px) { 
    .div-info-box {
      width: 526px;
      height: 544px;
      background-color: #114273;
      position:absolute;
      top: 48px;
      left:512px; 
    }
  
    
  }