.div-info-box {
    width: 526px;
    height: 544px;
    position:absolute;
    top: 48px;
    left:512px; 
  }

  /* switch to mobile viewport */
  @media screen  and (max-width: 500px) { 
    .div-info-box {
      width: 360pt;
      height: 568pt;
      top: 372pt; 
      left: 0pt;
    }    
  }